pkgbase = pretty-c
	pkgdesc = Making C Look ✨Pretty✨and Lua/Lisp/Python-esque
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/aartaka/pretty.c
	arch = any
	license = WTFPL
	optdepends = clang: if you want to use clang
	optdepends = gcc: if you want to use gcc
	source = pretty.h
	md5sums = SKIP

pkgname = pretty-c
