pkgbase = pretty-c
	pkgdesc = Make C look like many other languages while retaining its charecteristics. not how god intended.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/aartaka/pretty.c
	arch = any
	license = WTFPL
	optdepends = clang: if you want to use clang
	optdepends = gcc: if you want to use gcc
	source = pretty.h
	md5sums = SKIP

pkgname = pretty-c
